.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .columnStretched {
    flex: 1;
  }
  .column {
    width: 70px;
    padding-right: 10px;

    &:last-child {
      text-align: right;
    }
  }
}
