.product {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & > div:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;

    & > div:nth-child(1) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 10px;
    }
    & > div:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 15px;
      color: #888;
    }
  }

  & > div:nth-child(2) {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  & > div:nth-child(3) {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
